<% include _header%>

    <h1><%= title %></h1>
    <p>Welcome to
      <%= title %>
    </p>
    
    <h2> Lista de zombies </h2>
    
    <Table class="table table-striped">
      <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Tipo</th>
      <th>Acciones</th>
      </tr>
    

    <% 
      if(coleccion){
        coleccion.forEach(function(zombies){
      %>
      <tr>
        <td> <%= zombies.name %> </td>
        <td> <%= zombies.email %> </td>
        <td> <%= zombies.type %> </td>
        <td>
          <a href="/zombies/edit/<%= zombies.id %>"> <i class="fas fa-edit text-success" title=Editar> </i></a>
          <a href="/zombies/delete/<%= zombies.id %>"><i class="fas fa-trash text-danger" title="Eliminar"></i></a>
        </td>
      </tr>

      <%
        });}
      %>
    </Table>

<% include _footer %>
