<% include _header%>
    
    <h2> Lista de cerebros </h2>
    
    <Table class="table table-striped">
      <thead>
        <tr>
            <th scope="col">iq</th>
            <th scope="col">flavor</th>
            <th scope="col">description</th>
            <th>Acciones</th>
        </tr>
      </thead>

    <% 
      if(coleccion){
        coleccion.forEach(function(cerebros){
      %>
      <tbody>
          <td> <%= cerebros.iq %> </td>
          <td> <%= cerebros.flavor %> </td>
          <td> <%= cerebros.description %> </td>
          
          <td>
            <a href="/cerebros/edit/<%= cerebros.id %>"> <i class="fas fa-edit text-success" title=Editar> </i></a>
            <a href="/cerebros/delete/<%= cerebros.id %>"><i class="fas fa-trash text-danger" title="Eliminar"></i></a>
          </td>
      </tbody>
      <%
        });}
      %>
    </Table>  

<% include _footer %>